@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

/* Card */

  .card {
    color: #f1f1f1;
  }

  .card .icon{
    font-size: 50px;
  }

  .card .content h1{
    text-align: end;
  }
    .card .content h6{
    text-align: end;
  }
