.data-user .navbar{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.data-user .navbar .logo{
    max-width: 40px;
}

.desktop{
    display: contents;
}

.mobile{
    display: none;
}

@media (max-width:991px)
{
    .desktop{
        display: none;
    }
    .mobile{
        display: contents;
    }
}