@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/* title */
.title{
    padding-top: 70px;
}
.title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.title p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* User */
.user{
    padding-top: 40px;
}
.user h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.user .img-user{
    height: 120px;
    width: 120px;
}

.user .nis-user{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}
.user .kelas-user{
    padding-top: 8px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.user Button{
    width: 120px;
    height: 35px;
    border-radius: 20px;
}


.table{
    padding-top: 35px;
}
    
@media only screen and (max-width: 600px) {
    .title p{
        font-size: 14px;
    }
    .user{
        padding-top: 10px;
    }
  }