.login{
    height: auto;
    width: 1360px;
}

.login .loginbx{
    display: block;
    background: #C7DDFC;
    width: 350px;
    height: fit-content;
    border-radius: 10px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 10px;
}
