@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.admin .navbar {
  background: #4C9FE5;
  padding-left: 31px;
  padding-right: 31px;
  position: fixed;
  font-family: Poppins;
  font-style: normal;
  font-size: 22px;
  line-height: 33px;
}

.admin .nav {
  display: flex;
  position: absolute;
}

.admin .text-admin {
  margin-top: 2px;
  padding-left: 16px;
  color: white;
  text-align: left;
}

.admin .text-admin h6{
  margin-top: -4px;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
}

.admin .text-admin p{
  padding-top: -2px;
  font-size: 12px;
}

/* The sidebar menu */
.admin .sidebar {
  height: 100%; 
  width: 238px; 
  position: fixed;
  z-index: 1;
  top: 42px;
  left: 0;
  background-color: #25262D; 
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto; 
  transition: 0.5s;
}

/* The navigation menu links */
.admin .sidebar a {
  padding: 18px 8px 0px 14px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  display: flex;
}

/* When you mouse over the navigation links, change their color */
.admin .sidebar a:hover {
  color: #f1f1f1;
}

.admin .sidebar a span {
  padding-right: 18px;
  font-weight: 400;
}

.admin .sidebar .button {
  margin: 0 96px;
  padding-top: 60px;
  font-size: 30px;
  color: #f1f1f1;
  cursor: pointer;
}

/* SideBar hide */

.admin .sidebar1 {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 60px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 52px; /* Stay at the top */
  left: 0;
  background-color: #25262D; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.admin .sidebar1 a {
  padding: 22px 8px 0px 20px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  display: block;
}

.admin .sidebar1 .button1 {
  margin: 0 22px;
  padding-top: 62px;
  font-size: 25px;
  color: #f1f1f1;
  cursor: pointer;
  display: block;
}

/* Style Dropdown menu */

.admin .dropdown {
  display: inline-block;
}

.admin .dropdown .drop{
  font-size: 15px;
  color: #f1f1f1;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.admin .dropdown-content {
  display: block;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.admin .dropdown-content a {
  color: #f1f1f1;
  padding-left: 40px;
  margin-top: -16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

/* Style page content */
.admin .main {
  margin-top: 96px;
  margin-left: 250px; /* Same as the width of the sidebar */
  margin-right: 12px;
  transition: 0.5s;
}

.admin .main1 {
  margin-top: 96px;
  margin-left: 82px;
  margin-right: 20px;
  transition: 0.5s;
}