@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.user {
  top: 0;
  left: 0;
  margin: 0;
}

.user .navbar {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.user .navbar .logo {
  margin-right: 10px;
  max-width: 40px;
  cursor: pointer;
}

.user .navbar .text {
  display: contents;
}

.user .navbar .burger {
  display: none;
}

.user .navbar .title1 {
  font-size: 18px;
  font-weight: 600;
  display: contents;
}

.user .navbar .title2 {
  font-size: 18px;
  font-weight: 600;
  display: none;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 90px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 66px;
  /* Stay at the top */
  left: 0;
  background-color: #2D3A5A;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  display: block;
  transition: 0.5s;
}

/* The navigation menu links */
.sidebar .menu {
  color: #f1f1f1;
  cursor: pointer;
}

.sidebar .menu .logo {
  font-size: 34px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar .menu p {
  margin-top: -4px;
  font-size: 12px;
  text-align: center;
}


/* SideBar hide */

.sidebar1 {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 0px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 66px;
  /* Stay at the top */
  left: 0;
  background-color: #2D3A5A;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
}

.sidebar1 .menu {
  display: none;
}


/* Style page content */
.main {
  margin-top: 80px;
  margin-left: 120px;
  /* Same as the width of the sidebar */
  margin-right: 30px;
  transition: 0.5s;
}

.main1 {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  transition: 0.5s;
}

 /* The Modal (background) */
 .qrcode .modal {
   display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.qrcode .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: fit-content;
}
.qrcode .modal-content .qrcode{
    margin: 0 auto;
}

/* The Close Button */
.qrcode .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.qrcode .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* navbar bottom */
.navbar-bottom{
  display: none;
}

.navbar-bottom .navbar{
  background-color: #f1f1f1;
  margin: 0;
}

.navbar-bottom .navbar .menu-bottom-bar .logo{
  margin-top: 10px;
}

/* Phone Display or Responsive */
@media (max-width:991px) {
  .navbar .content {
    padding: 0 10px;
  }

  .user .navbar .title1 {
    display: none;
  }
  
  .user .navbar .title2 {
    display: contents;
  }
  
  .user .navbar .text {
    display: none;
  }

  .user .navbar .burger {
    display: contents;
  }
  
  .main {
    margin-left: 10px;
    /* Same as the width of the sidebar */
    margin-right: 10px;
  }
  
  .main1 {
    margin-left: 10px;
    /* Same as the width of the sidebar */
    margin-right: 10px;
  }
  
  .sidebar {
    display: none;
  }
  
  .sidebar1 {
    display: none;
  }
  
  .navbar-bottom{
    display: block;
  }
}